<!DOCTYPE html>
<html lang='fr'>
    <head>
        <meta charset="UTF-8">
        <title>Series Search</title>
<!--
        <meta content="user-scalable=no, initial-scale = 1, minimum-scale = 1, maximum-scale = 1, width=device-width" name="viewport">
-->
        <link rel="shortcut icon" type="image/png" href="/images/clap.png">
        <link rel="stylesheet" href="/stylesheets/home.css" media="all">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.1/jquery.qtip.min.css">
        <link rel="stylesheet" href="/semantic/dist/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/vegas.min.css">
        <link rel="stylesheet" href="/stylesheets/jquery.mCustomScrollbar.min.css">
        <link rel="stylesheet" href="/stylesheets/d3-tip.css">
        <link rel="stylesheet" href="/stylesheets/timelinr.css">
    </head>
    <body itemscope itemtype="http://schema.org/WebPage">
        <audio loop>
            Votre navigateur ne supporte pas l'élément <code>audio</code>.
            <source src="" type="audio/ogg">
        </audio>
        <img id="tv" src="/images/tv.png" alt="TV">
        <div id="remote-wrapper">
            <img id="remote" src="/images/remote-control.png" alt="Télécommande" usemap="#buttons">
        </div>
        <map name="buttons">
            <area shape="circle" coords="156,39,12" title="Allumer/Éteindre la TV" id="on-off" class="buttons" />
            <area shape="rect" coords="30,66,59,84" title="Source indisponible" class="config buttons" />
            <area shape="rect" coords="62,66,93,84" title="Source indisponible" class="config buttons" />
            <area shape="rect" coords="97,66,130,84" title="Source principale" id="tv-config" class="buttons" />
            <area shape="rect" coords="134,66,161,84" title="Source indisponible" class="config buttons" />
            <area shape="circle" coords="34,108,10" title="Menu" class="menu-button buttons screen-content" />
            <area shape="circle" coords="154,108,10" title="Source indisponible" class="config buttons" />
            <area shape="circle" coords="95,175,38" title="Moteur de recherche" class="search-engine-button buttons screen-content" />
            <area shape="circle" coords="95,122,12" title="Page de résultats" class="arrows serps-button buttons screen-content" />
            <area shape="circle" coords="147,175,12" title="Diagramme de force" class="arrows force-layout-button buttons screen-content" />
            <area shape="circle" coords="95,227,12" title="Frise chronologique" class="arrows timeline-button buttons screen-content" />
            <area shape="circle" coords="44,176,12" title="Diagramme circulaire" class="arrows pie-chart-button buttons screen-content" />
            <area shape="circle" coords="34,242,10" title="Aide" class="help-button buttons screen-content" />
            <area shape="circle" coords="154,242,10" title="Infos sur le programme" class="info-button buttons screen-content" />
            <area shape="rect" coords="30,267,59,282" title="Ambiance précédente" id="previous" class="controls buttons" />
            <area shape="rect" coords="62,267,92,282" title="Lancer le diaporama" id="play" class="controls buttons" />
            <area shape="rect" coords="98,267,128,282" title="Arrêter le diaporama" id="pause" class="controls buttons" />
            <area shape="rect" coords="131,267,160,282" title="Ambiance suivante" id="next" class="controls buttons" />
            <area shape="circle" coords="45,315,15" title="Ambiance « comme à la maison »" class="home buttons" />
            <area shape="circle" coords="94,315,15" title="Ambiance sci-fi" class="sci-fi buttons" />
            <area shape="circle" coords="144,314,15" title="Ambiance de guerre" class="war buttons" />
            <area shape="circle" coords="46,356,15" title="Ambiance épouvante/horreur" class="horror buttons" />
            <area shape="circle" coords="95,356,15" title="Ambiance « road trip »" class="road buttons" />
            <area shape="circle" coords="145,357,15" title="Ambiance historique" class="history buttons" />
            <area shape="circle" coords="45,397,15" title="Ambiance urbaine" class="urban buttons" />
            <area shape="circle" coords="95,397,15" title="Ambiance fantastique" class="fantasy buttons" />
            <area shape="circle" coords="145,398,15" title="Ambiance carcérale" class="prison buttons" />
            <area shape="circle" coords="45,439,15" title="Couper le son" id="mute" class="buttons" />
            <area shape="circle" coords="95,439,15" title="Ambiance romantique" class="romance buttons" />
            <area shape="circle" coords="145,439,15" title="Activer le son" id="sound" class="buttons" />
        </map>
        <div id="screen" class="mCustomScrollbar" data-mcs-theme="dark">
            <!-- Moteur de recherche -->
            <div id="search-engine">
                <div id="logo">
                    <img id="clapper" src="/images/clapper.png" alt="Clap">
                    <h1>Series Search</h1>
                </div>
                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <div id="search" class="ui fluid massive icon input">
                        {{ form_errors(form.keyword) }}
                        {{ form_widget(form.keyword, { 'value' : keyword, 'attr': { 'placeholder': "Une série vous tente ?", 'autofocus': "autofocus", 'autocomplete': "off" } }) }}
                        <i class="search icon"></i>
                    </div>
                    <div id="crawlSelection" class="ui container">
                        <div class="ui floating labeled icon dropdown button">
                            <input id="selectedCrawlDate" name="selectedCrawlDate" type="hidden" value="{{dateCrawl}}">
                            <i class="archive icon"></i>
                            <span class="text">Archives</span>
                            <div class="menu">
                                <div class="header">
                                    <i class="history icon"></i>
                                    Dates de crawl
                                </div>
                                {% for listDate in datesCrawl %}
                                    <div class="item" data-value="{{listDate.dateCrawl|date("Y-m-d")}}">
                                        {{listDate.dateCrawl|date("Y-m-d")}}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {{ form_end(form) }}
                <div id="from-to">
                    <input id="from" type="text" class="ui blue button" value="Départ">
                    <input id="to" type="text" class="ui blue button" value="Arrivée">
                </div>
            </div>
            <!-- SERPs -->
            <div id="serps">
                {% if results is defined %}
                    {%if results.serie != null%}
                        <div id="specific-series">
                            <p>
                                <b>{{results.serie.name}}</b> est une série de type <i>{{results.serie.genre}}</i> réalisée par <i>{{results.serie.director}}</i> en <i>{{results.serie.dateRelease}}</i><br><br>
                                <u>Acteurs</u> : {{results.serie.actors}}
                            </p>
                        </div>
                    {%endif%}
                    {% if results.res|length > 0 %}
                        <div id="results">
                            <h1>TOP 10 sur l'expression "{{keyword}}"</h1>
                            <p>Résultats via le crawl du {{dateCrawl}}</p>
                            {% for critique in results.res %}
                                <div class="result">
                                    <div class="image">
                                        <a href="{{path('smart_search_review_display', {'id': critique[0].idReview,'dateCrawl': dateCrawl })}}">
                                            <img src="{{ asset(critique[1].getWebPath()) }}">
                                        </a>
                                    </div>
                                    <div class="description">
                                        <a href="{{path('smart_search_review_display', {'id': critique[0].idReview,'dateCrawl': dateCrawl })}}">
                                            <h2>{{critique[0].title}}</h2>
                                        </a>
                                        <p>{{critique[0].content|truncate(200, true, '...')}}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            <!-- Diagramme de force -->
            <div id="force-layout" style="display:none;"></div>
            <!-- Frise chronologique -->
            <div id="timeline" style="display:none;">
                <div id="grad_top"></div>
                <ul id="dates">
				{% if results is defined %}
					 {% if results.res|length > 0 %}
						{% for critique in results.res %}
							<li><a href="#{{critique[0].datePublished|date('Y')}}">{{critique[0].datePublished|date('Y')}}</a></li>
						{%endfor%}
					 {%endif%}
				 {%endif%}
                </ul>
                <ul id="issues">
				{% if results is defined %}
					{% if results.res|length > 0 %}
						{% for critique in results.res %}
							<li id="{{critique[0].datePublished|date('Y')}}">
								<img src="{{asset(critique[1].getWebPath())}}" alt="{{critique[1].name}}">
								<h2>{{critique[0].title}}</h2>
								<p>{{critique[0].content|truncate(200, true, '...')}}</p>
								<a href="{{path('smart_search_review_display', {'id': critique[0].idReview,'dateCrawl': dateCrawl })}}">Voir la page</a>
							</li>
						{%endfor%}
					{%endif%}
				{%endif%}
                </ul>
                <div id="prev-date"></div>
                <div id="next-date"></div>
            </div>
            <!-- Diagramme circulaire -->
            <div id="pie-chart" style="display:none;"></div>
            <!-- Menu -->
            <div id="menu" style="display:none;">
                <div>
                    <button class="ui fluid gray button search-engine-button">Moteur de recherche</button>
                    <button class="ui fluid gray button serps-button">Page de résulats</button>
                    <button class="ui fluid gray button force-layout-button">Diagramme de force</button>
                    <button class="ui fluid gray button timeline-button">Frise chronologique</button>
                    <button class="ui fluid gray button pie-chart-button">Diagramme circulaire</button>
                    <button class="ui fluid gray button help-button">Aide</button>
                    <button class="ui fluid gray button info-button">Infos</button>
                </div>
                <div>
                    <button class="ui fluid gray button home">Ambiance « comme à la maison »</button>
                    <button class="ui fluid gray button sci-fi">Ambiance sci-fi</button>
                    <button class="ui fluid gray button war">Ambiance de guerre</button>
                    <button class="ui fluid gray button horror">Ambiance épouvante/horreur</button>
                    <button class="ui fluid gray button road">Ambiance « road trip »</button>
                    <button class="ui fluid gray button history">Ambiance historique</button>
                    <button class="ui fluid gray button urban">Ambiance urbaine</button>
                    <button class="ui fluid gray button fantasy">Ambiance fantastique</button>
                    <button class="ui fluid gray button prison">Ambiance carcérale</button>
                    <button class="ui fluid gray button romance">Ambiance romantique</button>
                </div>
            </div>
            <!-- Aide sur le programme -->
            <div id="help" style="display:none;">
                <p>Ce programme vous permet de chercher des critiques de séries TV dans une large base de données, constituée à partir d'informations et ressources crawlées sur <a href="http://www.senscritique.com/" target="_blank">SensCritique</a>.</p>
                <p>Pour que votre expérience soit plus ludique et immersive, vous avez la possibilité de configurer votre espace de visualisation, afin qu'il réponde à vos préférences personnelles. Vous pouvez, à ce titre, utiliser la télécommande pour choisir votre ambiance, ou simplement lancer le diaporama qui vous fera voyager dans les différents univers des séries TV.</p>
                <p>À noter qu'un menu récapitulatif est à votre disposition si vous souhaitez avoir un rapide aperçu des contenus et ambiances disponibles.</p>
                <p>Bonne recherche !</p>
                <button class="ui fluid blue button search-engine-button">Go!</button>
            </div>
            <!-- Infos sur le programme -->
            <div id="info" style="display:none;">
                <div class="ui info message">
                    <p class="header">Cette application a été réalisée en 2015 dans le cadre d'un projet du M2-DNR2I à l'université de Caen Normandie.<p>
                </div>
                <div class="ui cards">
                    <div class="blue card" itemprop="author" itemscope itemtype="https://schema.org/Person">
                        <div class="image">
                            <img src="/images/macky-dieng.jpg" itemprop="image">
                        </div>
                        <div class="content">
                            <span class="header">
                                <span itemprop="givenName">Macky</span>
                                <span itemprop="familyName">Dieng</span>
                            </span>
                        </div>
                        <div class="extra content">
                            <a href="https://github.com/dieng444" target="_blank" itemprop="url">
                                <i class="github icon"></i>
                                dieng444
                            </a>
                        </div>
                    </div>
                    <div class="white card" itemprop="author" itemscope itemtype="https://schema.org/Person">
                        <div class="image">
                            <img src="/images/julien-foucault.jpg" itemprop="image">
                        </div>
                        <div class="content">
                            <span class="header">
                                <span itemprop="givenName">Julien</span>
                                <span itemprop="familyName">Foucault</span>
                            </span>
                        </div>
                        <div class="extra content">
                            <a href="https://github.com/JulienNaufaulo" target="_blank" itemprop="url">
                                <i class="github icon"></i>
                                JulienNaufaulo
                            </a>
                        </div>
                    </div>
                    <div class="red card" itemprop="author" itemscope itemtype="https://schema.org/Person">
                        <div class="image">
                            <img src="/images/baptiste-vannesson.jpg" itemprop="image">
                        </div>
                        <div class="content">
                            <span class="header">
                                <span itemprop="givenName">Baptiste</span>
                                <span itemprop="familyName">Vannesson</span>
                            </span>
                        </div>
                        <div class="extra content">
                            <a href="https://github.com/Badacadabra" target="_blank" itemprop="url">
                                <i class="github icon"></i>
                                Badacadabra
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Source indisponible -->
        <img id="intermission" src="/images/intermission.png" alt="Intermission" style="display:none;">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.1/jquery.qtip.min.js"></script>
        <script src="/semantic/dist/semantic.min.js"></script>
        <script src="/javascripts/jquery.maphilight.min.js"></script>
        <script src="/javascripts/vegas.min.js"></script>
        <script src="/javascripts/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="/javascripts/d3.min.js"></script>
        <script src="/javascripts/d3.tip.js"></script>
        <script src="/javascripts/loadGraph.js"></script>
        <script src="/javascripts/jquery.timelinr-0.9.54.js"></script>
        <script src="/javascripts/d3pie.min.js"></script>
        <script src="/javascripts/loadPieChart.js"></script>
        <script src="/javascripts/js.cookie.js"></script>
        <script src="/javascripts/gui.js"></script>
    </body>
</html>
